#speech
{
    width:100%;
}

#device_ip
{
    width:100%;
    text-align: center;
    display: block;
}

button
{
    display:flex !important;
    justify-content: center !important;
}

#link
{
    width:100%;
}

.center
{
    left:auto;
    right: auto;
}