body
{
    background-color:hsl(236, 31%, 20%);
}

h3
{
    text-align: center;
    color:hsl(236, 21%, 94%);
}

/*
*   languages switch: to be set on the top left of the page
*/
.switch
{
    position: absolute;
    top:0%;
    left:75%;
}

/*
*   stretch maximum its size inside div.col.s12
*/
#p5_mouse_control
{
    width:100%;
}

/*
*   Where we contain all the mouse links, `relative` to div#p5_mouse_control
*/
#links_control
{
    position: relative;
}

/*
*   Set the color of the mouse links to white, which is the same color
*   as button on the button on the mouse_control_panel
*/
.links
{
    color:white;
}

/*
*   Contains the result string listened from user
*/
#speech
{
    width:100%;
    color:hsl(236, 21%, 94%);
}

#device_ip
{
    color:hsl(236, 21%, 94%);
    width:100%;
    text-align: center;
    display: block;
}

/*
*   An effort to make the recoding buttons align to the center
*/
.center
{
    display: flex;
    justify-content: center;
}

/*
*   The two following class are for the button of voice recoding
*   .custom-color-1: recording
*   .custom-color-2: stop recording
*/
.custom-color-1
{
    background-color: hsl(236, 50%, 30%);
}

.custom-color-2
{
    background-color: hsl(236, 50%, 30%);
}

/*
*   The style for the button which establish the link to control keyboard
*/
#link
{
    width:100%;
    background-color: hsl(236, 41%, 56%);
}

/*
*   This is the id for the text that has been formatted(remove accent)
*   Don't display it to make the design confused
*/
#sending_text
{
    display: none;
}