body
{
    background-color:hsl(236, 31%, 20%);
}

#speech
{
    width:100%;
    color:hsl(236, 21%, 94%);
}

#device_ip
{
    color:hsl(236, 21%, 94%);
    width:100%;
    text-align: center;
    display: block;
}

button
{
    display:flex !important;
    justify-content: center !important;
}

.custom-color-1
{
    background-color: hsl(236, 50%, 30%);
}

.custom-color-2
{
    background-color: hsl(236, 50%, 30%);
}

#link
{
    width:100%;
    background-color: hsl(236, 41%, 56%);
}

.center
{
    display: flex;
    justify-content: center;
}

#sending_text
{
    display: none;
}